<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Attendance Management</title>
    <style>
        body{
            padding-top:30px;
            padding-left:70px;
            padding-right:70px;
        }
        input{font-size:100%;}
        select{font-size:100%;}
        .button{
            position:relative;
            font-size:100%;
            background-color: #333;
            color: #fff;
        }
        .button:hover {
            background-color: #59b1eb;
        }
        h1{text-align:center;}
        p{text-align:right;}
    </style>
</head>

<body>
    <h1>Attendance Management</h1>
    <%if session[:name]%>
        <p>[<%=session[:name]%>]でログイン中
        &nbsp;<button class="button" style="float:right;top:-5px;" type="button" onclick="location.href='/logout'">ログアウト</button>
        </p>
    <%end%>
    <%=yield%>
</body>
</html>
