Enter your userID and password.<br>

<form action="/auth" method="post">
    UserID: <input type="text" name="id" size="40" maxlength="20"><br>
    Password: <input type="password" name="pass" size="40" maxlength="20"><br>
    <br>
    <input type="submit" value="Login">
</form>
