<style>
    div{text-align:center;}
</style>
<div>データベースへの登録に失敗しました</div>

<center>
<button class="button" type="button" onclick="location.href='/<%=params['year']%>/<%=params['month']%>/<%=params['day']%>'">登録フォームに戻る</button>
</center>
